In [ ]:
import pandas as pd

In [ ]:
travel = pd.read_csv("Travel.csv")

In [ ]:
travel

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [ ]:
'''A. What is the distribution of customerages, and how does age relate to product purchase (ProdTaken)?'''

# Age distribution
age_distribution = travel['Age'].value_counts()

# Relation between age and product purchase
age_vs_purchase = travel.groupby('Age')['ProdTaken'].mean()
print(age_vs_purchase)

Age
18.0    0.571429
19.0    0.656250
20.0    0.657895
21.0    0.560976
22.0    0.326087
23.0    0.282609
24.0    0.321429
25.0    0.270270
26.0    0.349057
27.0    0.217391
28.0    0.176871
29.0    0.320225
30.0    0.241206
31.0    0.201970
32.0    0.203046
33.0    0.211640
34.0    0.208531
35.0    0.143460
36.0    0.116883
37.0    0.129730
38.0    0.085227
39.0    0.093333
40.0    0.157534
41.0    0.154839
42.0    0.140845
43.0    0.076923
44.0    0.161905
45.0    0.155172
46.0    0.090909
47.0    0.136364
48.0    0.169231
49.0    0.138462
50.0    0.139535
51.0    0.188889
52.0    0.205882
53.0    0.121212
54.0    0.032787
55.0    0.109375
56.0    0.206897
57.0    0.172414
58.0    0.354839
59.0    0.272727
60.0    0.034483
61.0    0.000000
Name: ProdTaken, dtype: float64

In [ ]:
'''B. How does the type of contact(type of contact)influence the likelihood of purchasing a travel product? '''

# Influence of type of contact on product purchase
contact_purchase = travel.groupby('TypeofContact')['ProdTaken'].mean()
print(contact_purchase)

TypeofContact
Company Invited    0.218464
Self Enquiry       0.176249
Name: ProdTaken, dtype: float64

In [ ]:
'''C. Is there a correlation between the city tier(citytier)and monthly income (monthly income) of customers?'''

# Correlation between city tier and monthly income
city_income_corr = travel['CityTier'].corr(travel['MonthlyIncome'])
print(city_income_corr)

0.05181691698577297

In [ ]:
'''D. What is the average duration of a pitch (duration of pitch)for customers who purchased a
product versus those who did not?'''

# Average duration of pitch
avg_pitch_duration = travel.groupby('ProdTaken')['DurationOfPitch'].mean()
print(avg_pitch_duration)

ProdTaken
0    15.169325
1    16.873143
Name: DurationOfPitch, dtype: float64

In [ ]:
'''E. How do occupation types(occupation)distribute among customers,and is there an
occupation type that is more likely to purchase a travel product? '''

# Occupation distribution and relation to product purchase
occupation_purchase = travel.groupby('Occupation')['ProdTaken'].mean()
print(occupation_purchase)

Occupation
Free Lancer       1.000000
Large Business    0.276498
Salaried          0.174831
Small Business    0.184261
Name: ProdTaken, dtype: float64

In [ ]:
'''# E. Occupation distribution and relation to product purchase
occupation_purchase = travel_data.groupby('Occupation')['ProdTaken'].mean()
'''
# Occupation distribution and relation to product purchase
occupation_purchase = travel.groupby('Occupation')['ProdTaken'].mean()

print(occupation_purchase)

Occupation
Free Lancer       1.000000
Large Business    0.276498
Salaried          0.174831
Small Business    0.184261
Name: ProdTaken, dtype: float64

In [ ]:
''' F. Are there any gender-based preferences for the type of product pitched
(ProductPitched)?'''

# Gender-based preferences for product types
gender_product_preference = travel.groupby('Gender')['ProductPitched'].value_counts(normalize=True)
print(gender_product_preference)

Gender   ProductPitched
Fe Male  Deluxe            0.535484
         Standard          0.406452
         Super Deluxe      0.032258
         Basic             0.025806
Female   Basic             0.372042
         Deluxe            0.352779
         Standard          0.144744
         Super Deluxe      0.085305
         King              0.045129
Male     Basic             0.398491
         Deluxe            0.345679
         Standard          0.142661
         Super Deluxe      0.062414
         King              0.050754
Name: ProductPitched, dtype: float64

In [ ]:
'''G. What is the relationship between the number of trips(number of trips)taken by a
customer and their likelihood to purchase a new travel product?'''

# Relationship between number of trips and likelihood to purchase
trip_vs_purchase = travel.groupby('NumberOfTrips')['ProdTaken'].mean()

print(trip_vs_purchase)

NumberOfTrips
1.0     0.180645
2.0     0.204235
3.0     0.201112
4.0     0.127615
5.0     0.135371
6.0     0.198758
7.0     0.284404
8.0     0.276190
19.0    1.000000
20.0    1.000000
21.0    0.000000
22.0    0.000000
Name: ProdTaken, dtype: float64

In [ ]:
'''H. Does having a passport(passport)correlate with a higher number of trips taken or a
higher likelihood of purchasing a travel product?'''

# Correlation between having a passport and travel behavior
passport_vs_trip = travel.groupby('Passport')['NumberOfTrips'].mean()
passport_vs_purchase = travel.groupby('Passport')['ProdTaken'].mean()

print(passport_vs_trip )
print(passport_vs_purchase )

Passport
0    3.221165
1    3.273844
Name: NumberOfTrips, dtype: float64
Passport
0    0.122908
1    0.347398
Name: ProdTaken, dtype: float64

In [ ]:
'''I. How satisfied are customers with the pitch (pitch satisfaction score),and does this
satisfaction influence product purchase? '''

# Satisfaction with pitch and its influence on product purchase
satisfaction_vs_purchase = travel.groupby('PitchSatisfactionScore')['ProdTaken'].mean()

print(satisfaction_vs_purchase)

PitchSatisfactionScore
1    0.152866
2    0.150171
3    0.213802
4    0.177632
5    0.216495
Name: ProdTaken, dtype: float64

In [ ]:
'''J. Among customers with children (number of children visiting),how does the number
of children impact travel product purchases?'''

# Impact of number of children on travel product purchases
children_vs_purchase = travel.groupby('NumberOfChildrenVisiting')['ProdTaken'].mean()

print(children_vs_purchase)

NumberOfChildrenVisiting
0.0    0.186691
1.0    0.188462
2.0    0.189513
3.0    0.203077
Name: ProdTaken, dtype: float64

In [ ]:
'''K. Gender preferences for product types: how does gender influence the preference for different types of travel
products pitched (product pitched)?'''

# Gender preferences for product types
gender_product_preference = travel.groupby('Gender')['ProductPitched'].value_counts(normalize=True)

print(gender_product_preference)

Gender   ProductPitched
Fe Male  Deluxe            0.535484
         Standard          0.406452
         Super Deluxe      0.032258
         Basic             0.025806
Female   Basic             0.372042
         Deluxe            0.352779
         Standard          0.144744
         Super Deluxe      0.085305
         King              0.045129
Male     Basic             0.398491
         Deluxe            0.345679
         Standard          0.142661
         Super Deluxe      0.062414
         King              0.050754
Name: ProductPitched, dtype: float64

In [ ]:
'''L. Impact of marital status on travel preferences: does marital status affect the choice of
travel product, and if so, how do different marital statuses correlate with product purchases (prod taken)? '''

# Impact of marital status on travel preferences
marital_status_vs_purchase = travel.groupby('MaritalStatus')['ProdTaken'].mean()

print(marital_status_vs_purchase)

MaritalStatus
Divorced     0.130526
Married      0.139316
Single       0.331878
Unmarried    0.243402
Name: ProdTaken, dtype: float64

In [ ]:
'''M. Relationship between number of children and travel product interest: how does the
number of children visiting (number of children visiting) impact the likelihood of purchasing a travel product?'''

# Relationship between number of children and travel product interest
children_vs_interest = travel.groupby('NumberOfChildrenVisiting')['ProductPitched'].value_counts(normalize=True)

print(children_vs_interest)

NumberOfChildrenVisiting  ProductPitched
0.0                       Basic             0.373383
                          Deluxe            0.361368
                          Standard          0.158965
                          Super Deluxe      0.077634
                          King              0.028651
1.0                       Basic             0.381250
                          Deluxe            0.362500
                          Standard          0.152885
                          Super Deluxe      0.060577
                          King              0.042788
2.0                       Basic             0.387266
                          Deluxe            0.355056
                          Standard          0.148315
                          Super Deluxe      0.055431
                          King              0.053933
3.0                       Basic             0.390769
                          Deluxe            0.344615
                          Standard          0.163077
                          King              0.052308
                          Super Deluxe      0.049231
Name: ProductPitched, dtype: float64

In [ ]:
'''N. Influence of owning a car on travel decisions: is there a correlation between owning a
car (own car) and the number of trips taken (number of trips) or the type of travel product purchased? '''

# Influence of owning a car on travel decisions
car_vs_trips = travel.groupby('OwnCar')['NumberOfTrips'].mean()
car_vs_purchase = travel.groupby('OwnCar')['ProdTaken'].mean()

print(car_vs_trips)
print(car_vs_purchase)

OwnCar
0    3.264349
1    3.219346
Name: NumberOfTrips, dtype: float64
OwnCar
0    0.193966
1    0.184697
Name: ProdTaken, dtype: float64

In [ ]:
'''O. Income level and product choice: how does the monthly income (monthly income) of
customers influence their choice of travel products, and is there a preferred product for different income levels?'''

# Income level and product choice
income_vs_product_choice = travel.groupby('MonthlyIncome')['ProductPitched'].value_counts(normalize=True)

print(income_vs_product_choice)

MonthlyIncome  ProductPitched
1000.0         Deluxe            1.0
4678.0         Deluxe            1.0
16009.0        Basic             1.0
16051.0        Basic             1.0
16052.0        Basic             1.0
                                ...
38621.0        King              1.0
38651.0        King              1.0
38677.0        King              1.0
95000.0        Basic             1.0
98678.0        Basic             1.0
Name: ProductPitched, Length: 2680, dtype: float64